@charset "UTF-8";

@media screen and (min-width: 768px){
    section#login{
        width: 500px;
    }

    section#login > div#imagem{
        background-color: black;
        display: block;
        transform: translate(50%, 70%);
        width: 500px;
    }

    section#login > p{
        text-align: justify;
    }
}