@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 10px;

    transform: translate(-50%, -50%);
    transition: 0.3s;
}

section#login > div#imagem {
    display: block;
    background-image: url(../img/predio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}