@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 400px;
    height: 510px;
    border-radius: 10px;

    transform: translate(-50%, -50%);
    transition: 0.3s;
}

section#login > div#imagem {
    display: block;
    background-image: url(../img/predio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario h1{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

section#login > div#formulario > p{
   text-align: justify;
   padding: 5px;
}

div#formulario > form{
    display: block;
    padding: 10px;
}

div#formulario > form > .campo{
    background-color: rebeccapurple;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 2px 0px;
    border-radius: 5px;
}

div#formulario > form > .campo i {
    margin: 0 5px;
}

div#formulario > form > .campo input[type="email"],
div#formulario > form > .campo input[type="password"]{
    background-color: #94cfcd;
    color: white;
    height: 100%;
    width: calc(100% - 40px);
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

form > input[type="submit"]{
    background-color: #53aaa7;
    color: white;
    display: block;
    margin: 3px 0px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

form > input[type="submit"]:hover{
    background-color: #2d6462;
    cursor: pointer;
}

form > a.botao{
    background-color: white;
    color: #53aaa7;
    display: block;
    margin: 10px 0px;
    text-align: center;
    width: 100%;
    border: 2px solid #53aaa7;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #6cd3cf;
}

form > a.botao i{
    font-size: 0.9em;
}
